h1 {
  padding-bottom: 8%;
  font-size: 2.3rem;
}

h2, h3, h4 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

#top {
  padding-top: 13%;
  padding-bottom: 2%;
}

#globalCard {
  margin-top: 8%;
}

.navbarLogo {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 120%;
  letter-spacing: 3px;
}

.navbar-nav {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 105%;
  letter-spacing: 0.5px;
}

.logoStyle {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}

.p-top {
  padding-top: 8%;
}

.noDecoration {
  text-decoration: none;
  color: #000000;
}

.card {
  margin-bottom: 5%;
}

.form-control:focus {
    border-color: #464a4c;
}

.footer {
  margin-top: 15%;
}

    .footer a {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-weight: bold;
        letter-spacing: 3px;
        text-decoration: none;
        color: #000000;
    }

a[title="LinkedIn"]:hover { color: #0e76a8 }

a[title="facebook"]:hover { color: #3b5998 }

a[title="GitHub"]:hover { color: #4a4949 }

a[title="freeCodeCamp"]:hover { color: #006400 }

@media (min-width: 768px) {
    .backend {
        padding-top: 0;
        text-align: right;
    }
}